@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);

    --primary-font : 'Open Sans', sans-serif;
    --secondary-font : 'Raleway', sans-serif;
    
    --padding-hv : 2rem 1.5rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
}

h1, h2, h3 {
    font-family: var(--secondary-font);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-hv);
    font-family: var(--secondary-font);
}

.logo {
    width: 30%;
}

.logo img {
    width: 100%;
    height: auto;
}

.nav-links-container {
    display: flex;
    align-items: center;
}

.nav-links-container li a {
    margin-left: 1rem;
    color: var(--very-dark-blue);
}